# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\LeetCode\LinkedList\LeetCode 109 - ConvertSortedListToBinarySearchTree\ConvertSortedListToBinarySearchTree_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
