# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\LeetCode\DynamicProgramming\LeetCode 1227 - AirplaneSeatAssignmentProbability\AirplaneSeatAssignmentProbability_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
