# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\LeetCode\Stack\LeetCode 1209 - RemoveAllAdjacentDuplicatesInStringII\RemoveAllAdjacentDuplicatesInStringII_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
