# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\LeetCode\Greedy\LeetCode 1733 - MinimumNumberOfPeopleToTeach\MinimumNumberOfPeopleToTeach_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
