# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\C#\LeetCode\Greedy\LeetCode 1689 - PartitioningIntoMinimumNumberOfDeciBinaryNumbers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
