# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\LeetCode\BinarySearch\LeetCode 74 - SearchA2DMatrix\SearchA2DMatrix_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
