# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\LeetCode\LinkedList\LeetCode 19 - RemoveNthNodeFromEndOfList\RemoveNthNodeFromEndOfList_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
