# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\LeetCode\String\LeetCode 1165 - SingleRowKeyboard\SingleRowKeyboard_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
