# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\LeetCode\UnionFind\LeetCode 1135 - ConnectingCitiesWithMinimumCost\ConnectingCitiesWithMinimumCost_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
