# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\LeetCode\TwoPointers\LeetCode 28 - ImplementStrStr()\ImplementStrStr()_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
