# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\LeetCode\BinarySearch\LeetCode 1337 - TheKWeakestRowsInAMatrix\TheKWeakestRowsInAMatrix_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
