# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\LeetCode\BitManipulation\LeetCode 1342 - NumberOfStepsToReduceANumberToZero\NumberOfStepsToReduceANumberToZero_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
