# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\LeetCode\Math\LeetCode 1551 - MinimumOperationsToMakeArrayEqual\MinimumOperationsToMakeArrayEqual_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
