# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\C#\LeetCode\Greedy\LeetCode 1642 - FurthestBuildingYouCanReach\FurthestBuildingYouCanReach\FurthestBuildingYouCanReach_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
