# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\C#\LeetCode\Stack\LeetCode 1249 - MinimumRemoveToMakeValidParentheses\MinimumRemoveToMakeValidParentheses_Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
